* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    border: 10px solid #F9F871;
    max-width: 700px;
    margin: 0 auto;
    padding: .25em;
    


    display: flex;



}

.big {
    font-size: 2em;
}

.flex-item {
    background: #8BEE86;
    margin: 25px;
    padding: 25px;
    color: #424656;

    width: 200px;
  
}

.flex-item-1 {
    background: plum;
    flex-basis: 100px;
    min-width: 200px;
}

.flex-item-2 {
    
}

.flex-item-3 {

}
