* { box-sizing: border-box; }

body {
    margin: 0;
    background: #2C73D2;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    border: 10px solid #F9F871;
    width: 80%;
    margin: 0 auto;
    padding: .25em;
    height: 50vh;
   align-items: flex-start;
   display: flex;
   flex-direction: column;



}

.big {
    font-size: 2em;
}

.flex-item {
    background: #8BEE86;
    margin: .5em;
    padding: .5em;
    color: #424656;

    width: 200px;
  
}

.flex-item-1 {
    background: plum;
  
  
  
}

.flex-item-2 {
   
}

.flex-item-3 {
    align-self: flex-start;
    margin-top: auto;
}
